<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark %>"><%= bookmark %></a></li>
  <% end %>
</ul>

<form method="get" action="/add_bookmarks">
<button type="submit"> go to add bookmarks</button>
</form>
